* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* utility */
.container {
  margin: auto;
  padding: 0 10rem;
  text-align: center;
  max-width: 1650px;
}

.purple-border {
  border: 8px solid #e96ffe;
}

.yellow-border {
  border: 8px solid #fcf335;
}

.red-border {
  border: 8px solid #ec432e;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
}

.sub-heading {
  font-size: 2rem;
  font-weight: bold;
}

.red {
  color: #ec432e;
}
.purple {
  color: #7865a8;
}
.orange {
  color: #ee642e;
}

.bg-orange {
  background-color: #ee642e;
}

.bg-green {
  background-color: #76ec1a;
}

.bg-purple {
  background-color: #7561a6;
}

.logo a {
  display: inline-block;
  /* width: 16rem; */
}

#wrapper {
  border: 10px solid #666;
  margin: auto;
}

/* navbar */
#navbar {
  background-color: #57808e;
  z-index: 1;
  opacity: 2;
}

#navbar a {
  color: white;
  font-weight: bold;
}

#navbar .flex-container {
  align-items: center;
}

#navbar .flex-item {
  text-align: center;
  padding: 2rem 1rem;
}

.sign-in {
  background-color: #ef97cb;
  padding: 1rem;
  border-radius: 5px;
}

#navbar .test {
  flex: 2;
}

#navbar .flex-item.logo {
  flex: 2;
}

/* Showcase */
#showcase {
  background: #99e2fc;
  padding-bottom: 5rem;
}

#showcase .flex-container {
  align-items: flex-start;
}

#showcase .showcase-content {
  color: white;
  background-color: #e1afda;
  margin-top: 2.5rem;
  width: 50%;
  text-align: center;
  line-height: 2;
  padding: 2rem 0;
}

#showcase .heading {
  font-size: 3rem;
}

#showcase .lead-text {
  margin: 0 12rem;
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
}

#showcase .get-stated {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #4bbbf3;
  color: white;
  font-family: inherit;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 3rem;
}

#showcase .showcase-image {
  margin-right: 8rem;
}

/* cortexgym */
#cortexgym {
  background-color: #99cccc;
  padding: 3rem 0;
}

#cortexgym .create .flex-item {
  margin: 2rem;
}

#cortexgym .create img {
  border-radius: 10px;
  height: 170px;
  object-fit: cover;
}

.platform.flex-container {
  width: 60%;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.platform .flex-item {
  width: 100%;
  flex: 1 1 20%;
}

.confidence .box {
  margin: 2rem;
}

.box .upper {
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.box .lower {
  background: white;
  /* height: 200px; */
  width: 100%;
  position: relative;
  border-radius: 0 0 10px 10px;
}

.box .inner {
  position: absolute;
  height: 100px;
  width: 50%;
  border-radius: 10px;
  transform: translate(50%, -80%);
}

.box .sub-heading {
  padding-top: 5rem;
}

.box p {
  text-align: center;
  padding: 2rem;
}

#footer {
  background-color: #1f1614;
  color: white;
}

#footer .container {
  text-align: left;
  line-height: 1.8;
  padding: 2rem;
}

#footer .semi-footer {
  background-color: #2c303a;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 5px solid #99cccc;
}

#footer .flex-item {
  margin-left: 1rem;
}

.s-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.big {
  font-size: 6rem;
  color: rgb(55, 55, 114);
  border-radius: 10rem;
  margin-top: 3rem;
}

.social {
  background-color: #e6e6e6;
  color: black;
  font-size: 2rem;
  padding: 1rem;
  margin: 0.3rem;
}

#footer .form-control {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 100%;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 15px;
  font-family: inherit;
  font-size: 14px;
}

.form-control button {
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: black;
  color: white;
  padding: 14px 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

/* .row > * {
  margin: 0.5em;
} */

.row img {
  width: 60%;
  display: block;
}

#footer .email-us {
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  margin-left: 10px;
}

/* Responsive Design */
@media (max-width: 1248px) {
  .container {
    padding: 0 3rem;
    max-width: 100%;
  }
}

@media (max-width: 1005px) {
  .container {
    padding: 0 1rem;
  }

  /* #footer .email-us {
    font-size: 0.7rem;
  } */
}
