* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* utility */
.container {
  margin: 0 10rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: inline-block;
  /* width: 16rem; */
}

#wrapper {
  border: 5px solid #666;
  margin: auto;
}

/* navbar */
#navbar {
  background-color: #57808e;
  z-index: 1;
  opacity: 2;
}

#navbar a {
  color: white;
  font-weight: bold;
}

#navbar .flex-item {
  flex: 1;
  text-align: center;
  padding: 2rem 0;
}

.sign-in {
  background-color: #ef97cb;
  padding: 1rem;
  border-radius: 5px;
}

#navbar .test {
  flex: 2;
}

#navbar .flex-item.logo {
  flex: 2;
}

#showcase {
  background: #99e2fc;
}

#showcase .flex-container {
  align-items: flex-start;
}

.showcase-content {
  color: white;
  background-color: #e1afda;
  margin-top: 2.5rem;
  width: 50%;
  text-align: center;
  line-height: 2;
  padding: 2rem 0;
}

#showcase .heading {
  font-size: 3rem;
}

#showcase .lead-text {
  margin: 0 12rem;
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
}

#showcase .get-stated {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #4bbbf3;
  color: white;
  font-family: inherit;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 3rem;
}

#showcase .showcase-image {
  margin-right: 8rem;
}
